@model Nop.Web.Models.Catalog.ProductOverviewModel

<div class="product-item">
    <div>
        <div class="ori-product-img">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName})" class="clean"><img src="@Model.DefaultPictureModel.ImageUrl" class="img-fluid center-block" /></a>

            @if (Model.AlternateImage != null)
            {
              <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName})" class="clean overlay-product-img"><img src="@Model.AlternateImage.ImageUrl" class="img-fluid center-block" /></a>
            }

            @if (Model.Quantity == 0) {
              <div style="position: absolute; top: 0; right: 0; height: 45px; width: 45px; background-color: black; border-radius: 10px;">
                <p class="pt-2 d-flex justify-content-center align-items-center" style="color: white; font-size: 10px;">SOLD</p>
              </div>
            }

            @if (Model.MarkAsNew)
            {
              <div style="position: absolute; top: 0; right: 0; height: 45px; width: 45px; background-color: black; border-radius: 10px;">
                <p class="pt-2 d-flex justify-content-center align-items-center" style="color: white; font-size: 12px;">NEW</p>
              </div>
            }
        </div>

    </div>

    <div class="description">
        <h2 class="text-left"><a class="clean" style="color: #707070;" href="@Url.RouteUrl("Product", new { SeName = Model.SeName})">@Model.Name</a></h2>
        <div class="prices text-left">
            @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice) || Model.ProductPrice.DisplayTaxShippingInfo)
            {
                if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                {

                    <div class="price old--price"><span style="color:black;text-decoration:line-through"><span style="color:#707070">@Model.ProductPrice.OldPrice</span></span></div>

                }
                <div class="price actual--price"><b>@Model.ProductPrice.Price</b></div>
            }
            else
            {
                <div class="price">@Model.ProductPrice.Price</div>
            }
        </div>
    </div>


</div>